<div class="matter-header">
    <div class="matter-header-inner">
        <div class="matter-header-left">
            <div class="matter-header-profile-pic">
                <img src="{{ data.userPic|raw }}" />
            </div>
        </div>
        <div class="matter-header-right">
            <div class="matter-header-title">
                {{ data.fullname|raw }}
            </div>
            
            <div class="matter-header-lc-lp-firm">
                Firm: {{data.firm|raw}}
            </div>
            <div class="matter-header-lc-lp-position">
                {{ data.position|raw }}
            </div>
                
            <!-- <div class="matter-header-btns-wrap">
                {{ data.chatBtn|raw }}
            </div> -->
                
            <div class="lc-lp-rating-time-wrap">    
                
                <div class="matter-header-rating lc-lp-inline-sec">
                    {{ data.rating|raw }}
                </div>

                <div class="lc-lp-time-info lc-lp-inline-sec">
                    
                    {{ data.art|raw }}
                    
                    {{ data.md|raw }}
                    
                    {{ data.exp|raw }}
                    
                </div>
                
            </div>       
                    
        </div>
    </div>
</div>
                    
<div class="lc-lp-mobile-buttons">
    {{ data.ctBtn|raw }}
    {{ data.apBtn|raw }}
</div>

<div class="lc-lp-mobile-tabs">
    {{ data.tabs|raw }}
</div>
    

<!-- CAN BE REMOVED LATER
<div class="matter-info-panel">
    
    <div class="matter-info-panel-inner">
        
        <div class="matter-infop-area matter-infop-area-1">
            
            <div class="lawyer-infop-label-1"><span>Firm: </span><span><b>{{data.firm|raw}}</b></span></div>
            <div class="lawyer-infop-label-1"><span>Email: </span><span><b><a href="mailto:{{data.email|raw}}">{{data.email|raw}}</a></b></span></div>
            <div class="lawyer-infop-label-1"><span>Phone: </span><span><b><a href="tel:{{data.phone|raw}}">{{data.phone|raw}}</a></b></span></div>
            
        </div>
          
        
    </div>
    
</div>
-->