<div class="quote-details-wrap">
    
    <div class="quote-details-first">
        <div class="qdet-matter-name text-h1">
            Matter: {{data.quote.matterTitle|raw}}
        </div>
        <div class="qdet-client-name text-h2">
            Client: {{data.quote.clientName|raw}}
        </div>
        <div class="qdet-quote-name text-h3">
            Quote: {{data.quote.quoteName|raw}}
        </div>
    </div>
    
    <div class="quote-details-second">
        <span class="quote-page-status">
            Quote Sent
        </span>
    </div>

    <div class="quote-details-third">
        <div class="quote-page-section-header">
            
            <table class="lc-table">
                <tr><td colspan="4"><b>Estimated Bill</b></td></tr>
                
                {% for item in data.quote.billingHours %}
                    <tr>
                        <td>{{item.hours.0.value}} X</td>
                        <td>R {{item.hourRate.0.value}}</td>
                        <td>{{item.desc}}</td>
                        <td>R {{item.total.0.value}}</td>
                    </tr>
                {% endfor %}
                
                <tr><td colspan="4"></td></tr>
                <tr><td colspan="4"><b>Disbursements</b></td></tr>
                
                {% for item in data.quote.disbursements %}
                    <tr>
                        <td>{{item.hours.0.value}} X</td>
                        <td>R {{item.hourRate.0.value}}</td>
                        <td>{{item.desc}}</td>
                        <td>R {{item.total.0.value}}</td>
                    </tr>
                {% endfor %}
                
                <tr><td colspan="4"></td></tr>
                
                <tr><td colspan="2"><b>Total</b></td><td colspan="2" class="lc-tbl-td-right"><b>R 2345</b></td></tr>
                <tr><td colspan="2"><b>Advance Collected</b></td><td colspan="2" class="lc-tbl-td-right"><b>R 345</b></td></tr>
                
            </table>
            
        </div>
    </div>
     
    
    
        
</div>
                
                
<div class="quote-details-fourth">
   
</div>