

<div id="dashboard-4blocks">

    <a href="/matters" class="d-ev-block d-ev-block1"><div class="d-ev-block-t1">{{ data.matterCount }}</div><div>Matters</div></a>

    <a href="#" class="d-ev-block d-ev-block2"><div class="d-ev-block-t1">{{ data.clientCount }}</div><div>Clients</div></a>

    <a href="#" class="d-ev-block d-ev-block3"><div class="d-ev-block-t1">{{ data.quoteCount }}</div><div>Quotes</div></a>

    <a href="#" class="d-ev-block d-ev-block4"><div class="d-ev-block-t1">{{ data.webLeadsCount }}</div><div>Web Leads</div></a>

</div>

{{ data.dashMenu|raw }}

<div id="dashboard-events">
    
    <div class="dash-events-h">
        <img src="/themes/legalconnect/images/dashboard/ucevents.png" /><span>Recent Matters</span>
    </div>
    
    {% for item in data.upcomingEvents %}
        <div class="dash-events-item-wrap">
            <div class="d-ev-left">
                <div class="d-ev-day">{{ item.day }}</div>
                <div class="d-ev-month">{{ item.month }}</div>
            </div>
            <div class="d-ev-right">
                <div class="d-ev-title">{{ item.eventTitle }}</div>
                <div class="d-ev-due"><span class="d-ev-clock"><img src="/themes/legalconnect/images/dashboard/due-clock.png" /></span>{{ item.due }}</div>
            </div>
        </div>
    {% endfor %}
    
</div>